// Размеры
$app-width: 1440px;
$app-height: 1024px;

// Цвета
// $background: #f9f9f9;
$background: #ececec;
$blue6: #4d77ff;
$gray2: #1d1929;
$gray6: #77757f;
$gray8: #a5a3a9;
$gray11: #e8e8ea;
$gray12: #f9f9f9;
